$main-color: #1da1f2;
$secondary-color: #ffffff;
$icon-width: 40px;
$icon-height: 40px;
$top-height: 7vh;
$middle-height: 85vh;
$bottom-height: 6vh;
$left-menu-item-second-top-height: 20vh;
$left-menu-item-middle-height: 60vh;
$left-menu-item-bottom-height: 13vh;
$search-height: 5vh;
$user-list-height:70vh;
$label-height: 5vh;
$add-height: 13vh;