@import "variables";
@import "bootstrap.min.css";

body{
  max-height: 100vh;
}
a:hover{
  text-decoration: none;
}
input{
  outline: none;
}

#main{
  max-height: 100vh;
  .main-btn button{
    border-radius: 20px;

  }
  #left_side{
    min-height: 100vh;
    background-color: #1da1f2;
    overflow-y: hidden;
    overflow-x: hidden;
    .row{
      height: 100vh;
    }
    ul{
      z-index: 2;
      color: #fff;
      font-size: 22px;
      font-weight: bold;
      line-height: 50px;
      margin: 48px auto;
      list-style-type: none;
      font-family: Arial;
    }
    svg{
      position: absolute;
      height: 140vh;
      right: -80vh;
      top: -20vh;
    }
  }

  #right_side{
    min-height: 100vh;
    background-color: #ffffff;
    z-index: 1;
    .row{
      height: 100vh;
      padding: 5%;
    }
    button{
      width: 100%;
      margin-top: 10px;
    }
    h6{
      margin-top: 40px;
    }
  }
}


#app{
  img{
    width: 100%;
  }

  .left-menu{
    .router-link-active li{
      border-left: solid 4px $main-color;
      background-color: #e5e5e5;
    }
    background-color: $secondary-color;
    min-height: 100vh;
    img{
      width: $icon-width;
      height: $icon-height;
    }
    .left-menu-item-top{
      background-color: $main-color;
      height: $top-height;
    }
    .left-menu-item-second-top{
      height: $left-menu-item-second-top-height;
      //padding: 66px 15px 50px;
    }
    .left-menu-item-middle{
      //padding: 20px 15px;
      height: $left-menu-item-middle-height;
      ul{
        li{
          list-style-type: none;
          padding: 15px 0;
          img{
          }
        }
      }
    }
    .left-menu-item-bottom{
      height: $left-menu-item-bottom-height;
    }
  }
  .secondary-menu{
    .router-link-active{
      background-color: #34abf3;
      border-left: solid 4px $secondary-color;
    }
    background-color: $main-color;
    color: $secondary-color;
    .secondary-menu-item-top{
      height: $top-height;
    }
    .label-head{
      color: $main-color;
      background-color: $secondary-color;
      padding: 7px 30px;
      font-size: 20px;
      height: $label-height;
      line-height: 10px;
    }
    .label-head-left{
      margin-right: 10px;
      border-radius: 20px 0 0 20px;
    }
    .label-head-right{
      border-radius: 0 20px 20px 0;
    }
    .search-section{
      height: $search-height;
    }
    .user-list-section{
      height: $user-list-height;
    }

    input::placeholder {
      color: #d3d3d3;
    }
    input{
      height: 40px;
      margin-top: 20px;
      color: $secondary-color;
      border-radius: 20px;
      border: none;
      width: 70%;
      background: url('/search.png') no-repeat scroll 10px 10px;
      background-color: #1781c2;
      padding-left:40px;
    }
    .contacts{
      margin-top: 30px;
      overflow-y: auto;
      .contact{
      }
      a{
        color: $secondary-color;
        width: 100%;
      }
      .wrap{
        padding: 15px 30px;
        img{
          width: $icon-width;
          height: $icon-height;
        }
        .meta{
          width: calc(100% - 50px);
          margin-left: 10px;
        }
        h5, h6{
          line-height: 20px;
          width: calc(100% - 50px);
        }
        h5{
          line-height: 18px;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        h6{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: normal;
        }
      }
    }
    .add-section{
      height: $add-height;
    }
    .add-btn{
      background-color: $secondary-color;
      color: $main-color;
      padding: 10px 40px;
      border-radius: 20px 20px 0 20px;
    }
  }
  .chat{
    .chat-head{
      height: $top-height;
      background-color: $main-color;
      color: $secondary-color;
      padding: 0px 30px;
      .dots{
        width: 7px;
        position: absolute;
        right: 30px;
      }
      .user-img{
        width: $icon-width;
        height: $icon-height;
      }
      h5, h6{
        line-height: 14px;
      }
      h5{
        font-size: 20px;
        font-weight: bold;
      }

    }

    .messages{
      overflow-y: scroll;
      overflow-x: hidden;
      height: $middle-height;
      .chat-user-picture{
        width: $icon-width;
        height: $icon-height;
      }
      li{
        width: 100%;
        margin-top: 50px;
      }
      .sent{
        direction: rtl;
        img{
          float: right;
        }
        p{
          direction: ltr;
          color: $secondary-color;
          float: right;
          margin-right: 20px;
          padding: 10px 20px;
          background-color: #6ab7ff;
          border-radius: 20px 20px 0 20px;
          max-width: 40%;
        }
      }
      .received{
        float: right;
        img{
          float: left;
        }
        p{
          direction: ltr;
          color: #000000;
          float: left;
          margin-left: 20px;
          padding: 10px 20px;
          background-color: #dcdfdc;
          border-radius: 20px 20px 20px 0;
          max-width: 40%;
        }
      }
    }
    .message-input{
      background-color: #dcdfdc;
      padding: 10px 30px;
      height: $bottom-height;
      input{
        width: calc(100% - 180px);
        background-color: $secondary-color;
        border-radius: 20px;
        height: 40px;
        border: none;
        padding: 5px 10px;
      }
      img{
        margin: 0px 10px;
        width: $icon-width;
        height: $icon-height;
      }
      button{
        background-color: $main-color;
        border-radius: 20px;
        border: none;
        color: $secondary-color;
      }
      .attachment{
        color: $secondary-color;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        padding-top: 10px;
        width: $icon-width;
        height: $icon-height;
        background-color: $main-color;
        border-radius: 100%;
        margin-right: 10px;
      }
    }
  }
}


